* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro';
}

.jumbotron {
    background-image: url('../assets/img/hr.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    border-radius: 0px!important;
}

.jumbotron h1 {
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.intro {
    padding-top: 160px;
}